/* 
    Document   : login
    Created on : Jul 7, 2012, 9:09:45 PM
    Author     : Efrain Astudillo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.titulo_login{
    font-weight: bold;
    border-bottom: #AAA;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 8px;
}
div.form_login{
    height: 150px;
    margin-top: 80px;
}
div.label{
    margin-bottom: 10px;
    float: left;
    width: 150px;
}
div.icono_error{
    width: 10px;
    color: crimson;
    float: left;
    visibility: hidden;
}
div.form_centrado{
    width: 310px;
    margin: 0 auto;
    
}
div.corrector{
    clear: both;
}
div#mensaje_error{
    color: crimson;
    font-size: 12px;
    visibility: hidden;
    float: right;
    margin-bottom: 10px;
}
div.slogan{
    color: #005353;
    margin-top: 55px;
    text-align: center;
    font-size: 11px;
}