/* 
    Document   : nota
    Created on : 17/07/2012, 04:34:36 PM
    Author     : Solis
    Description:
        Purpose of the stylesheet follows.
*/

.paralelo{
    float: left;
    display: inline;
}
.tipoactividad{
    margin-left: 3em;
    float: left;
}
.actividad{
    margin-left: 3em;
    float: right;
}
