/* 
    Document   : actividad
    Created on : Jun 17, 2012, 12:25:20 PM
    Author     : Efrain Astudillo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
table tbody{
    margin: 0;
    padding: 0;
    text-align: left;
}

table th{
    padding: 0 20px;
}
table td{
    
}

#req-user_espol, #req-nombres, #req-apellidos,#req-cedula,#req-matricula,#req-correo{
    color: red;
    visibility: hidden;
    font-size: 11px;
}
table td a{
    color: black;
} 