/* 
    Document   : tabla
    Created on : 15/06/2012, 12:09:52 AM
    Author     : Jeff
    Description:
        Purpose of the stylesheet follows.
*/

div.contenedor_tabla{
    overflow: auto;
    height: 43em;
    width: 25.1em;/*59.1*/
}

table.tabla_scroll{
    float: left;
    width: 27em;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    background-color:#cdeb8e;
}

thead.encabezado_estatico tr{
     position: relative;
     display: block;
     
}

.tabla_scroll thead th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.tabla_scroll thead th:empty{
    background:transparent;
    border:none;
}

.tabla_scroll tfoot tr{
    position: relative;
     display: block;
}

.tabla_scroll tfoot th, .tabla_scroll tfoot td{
    border-top:3px solid #568F23; 
}

.tabla_scroll tfoot th{
    color: #9CD009;
    font-size:32px;
    background-color:beige;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}

.tabla_scroll tfoot td{
    padding-left: 55px;
    padding-right: 55px;
    color: black;
}

tbody.contenido_scroll{
    display: block;
    overflow: auto;
    height: 16em;
}

.tabla_scroll tbody td{
    padding: 10px;
    text-align:center;
    background-color:beige;/*#DEF3CA*/
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}


thead.encabezado_estatico th {
    width: 7.5em;
}

thead.encabezado_estatico th + th {
    width: 49em;
}

thead.encabezado_estatico th + th + th {
    width: 8.5em;
}

tbody.contenido_scroll td {
    width: 6.5em;/*6.5em*/
}
 
tbody.contenido_scroll td + td {
    width: 39em;/*39em*/
}
 
tbody.contenido_scroll td + td + td {
    width: 7.6em;/*7.6em*/
}

tfoot th {
    width: 55em;
}
 
tfoot td + td {
    width: 8.5em;
}
 
tfoot th + td + th {
    width: 3.5em;
}

