/* 
    Document   : actividad
    Created on : Jun 17, 2012, 12:25:20 PM
    Author     : Andrea Cáceres
    Description:
        Estilo de la pagina Actividad.
*/

.item_1{
    display: inline;
    float: left;
}

.item_2{
    float: left;
    margin-left: 3em;
}

.item_3{
    float: right;
    margin-left: 3em;
}

.item_1, .item_2, .item_3{
    margin-top: 0.2em;
}

#req-descripcion, #req-nota, #req-fecha, #req-tipactividad,#req-nombre, #req-ponderacion, #option, #req-selec1, #req-selec2, #req-selec3, #req-Descrip, #req-Punto{
    color: red;
    visibility: hidden;
    font-size: 11px;
}