@charset "utf-8";
/* CSS Document */
/*
*	Documento:		estilo.css
*	Autor:			Efrain Astudillo
*	Descripcion:	Este archivo gestiona todo el disenio del layout
*	Fecha:			4 de Junio de 2012
*/

.item_1{
    display: inline;
    float: left;
}

.item_2{
    float: left;
    margin-left: 3em;
}

.item_3{
    float: right;
    margin-left: 3em;
}

.item_1, .item_2, .item_3{
    margin-top: 0.2em;
}