/* 
    Document   : estilo_modulo
    Created on : Jun 23, 2012
    Author     : Jefferson Rubio Angulo
    Description:
        Hoja de estilo que da un aspecto elegante y ordenado a la presentación
        principal de cada módulo del sistema. 
*/

/*
    Nombre      :   panel
    Descripción :   Al div principal del modulo le da un tamaño, color de fondo,  
                    estilo de borde, bordes redondeados y color de borde.
*/
div.panel{
    height: 28.5em;                         /* Altura del div */
    /*background-color: #ececc6; */             /* Color de fondo: crema */ 
  /*  border-radius: 1.2em 1.2em 1.2em 1.2em;  */ /* Bordes redondeados */
/*    border-style: solid;                     Estilo del borde: grueso 
    border-color: #cdeb8e;                   Color del borde: verde claro */
}

/*
    Nombre      :   head_panel
    Descripción :   Estilo de la cabecera del div principal dandole una altura,
                    espaciado de padding, bordes redondeados y color de fondo 
                    con gradiente. 
*/
div.head_panel{
    height: 1.2em;                          /* Alto de la cabecera */
    padding: 0.6em;                         /* Espaciado del texto al borde */
   /* border-radius: 1em 1em 0em 0em; */        /* Bordes redondeados */
    /*color de fondo con gradiente según el navegador*/
/*    background: #cdeb8e;                     Navegadores viejos 
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);     Firefox 3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));        Chrome,Safari4+ 
    background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);   Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);        Opera 11.10+ 
    background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%);       IE10+ 
    background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%);           W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );  IE6-9 */
/*background: #3d7a7a;  Old browsers 
	background: #d5cea6;  Old browsers 
background: -moz-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5cea6), color-stop(40%,#c9c190), color-stop(100%,#b7ad70));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);  IE10+ 
background: linear-gradient(to bottom, #d5cea6 0%,#c9c190 40%,#b7ad70 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 );  IE6-9 */
    border-bottom: #CCC;
    border-bottom-style: ridge;
    border-bottom-width: thin;
   
}

/*
    Nombre      :   titulo_head_panel
    Descripción :   Distribuye el titulo principal a la izquierda de la 
                    cabecera.
*/
div.titulo_head_panel{
    float: left;                            /* Posicionamiento a la izquierda */
}

/*
    Nombre      :   titulo_head_panel p
    Descripción :   Le da un estilo de letra y grosor al texto a la izquierda 
                    de la cabecera.
*/
div.titulo_head_panel p{
    font-family: Arial;                  /* Estilo de letra: Broadway */
    font-weight: bold;                      /* Ancho de letra: gruesa */
}

/*
    Nombre      :   extra_head_panel
    Descripción :   Distribuye contenido adicional a la derecha de la cabecera. 
*/
div.extra_head_panel{
    float: right;                           /* Posicionamiento a la derecha */  
    margin-left: 50px;
}

/*
    Nombre      :   extra_head_panel p
    Descripción :   A un texto adicional le da un posicionamiento a la izquierda
                    del contenido extra, ademas de un estilo de letra. 
*/
div.extra_head_panel p{
    float: left;                            /* Posicionamiento a la izquierda */  
    font-family: forte;                     /* Estilo de letra: forte */
}

/*
    Nombre      :   extra_head_panel img
    Descripción :   A una imagen adicional le da un posición más centrada en el 
                    headPanel usando margin y un espaciado entre el texto extra. 
*/
div.extra_head_panel img{
    margin-top: -0.5em;                     /* Sube la imagen un poco */
    padding-left: 1em;                      /* Da un espaciado al texto extra */
}

/*
    Nombre      :   body_panel
    Descripción :   Estilo del cuerpo del módulo donde irá el contenido 
                    principal del mismo. Se le agregará espaciado interno.
*/
div.body_panel{
   /* padding: 0.5em 2.5em 0.5em 1.5em;     */  /* Espaciado interno */ 
    
}

/*
    Nombre      :   titulo_body_panel
    Descripción :   Se le da un alto al div para poder insertar un titulo 
                    principal y uno opcional para el cuerpo del panel.
*/
div.titulo_body_panel{
/*    height: 2.5em;                           Altura del div de titulo */
    display: inline-table;                  /* Poner los elementos juntos*/
    margin: 0.5em;                           /*espaciado externo*/    
    margin-left: 0em;
}

/*
    Nombre      :   titulo_body_panel p
    Descripción :   Le da un estilo al titulo opcional del cuerpo del panel.
*/
div.titulo_body_panel p{
    float: left;                            /* Posicionamiento izquierdo */
    font-family: Arial;                     /* Estilo de letra: cursive */
    font-weight: bold;                      /* Grosor de la letra */            
}

/*
    Nombre      :   titulo_body_panel p:lastchild
    Descripción :   Le da un estilo al titulo principal del cuerpo del panel.
*/
div.titulo_body_panel p:last-child{
    /*font-size: xx-large;  */                  /* Tamaño de la letra */
}

/*
    Nombre      :   boton_new
    Descripción :   Le da un posicionamiento a la derecha del titulo del body a 
                    un boton.
*/
div.boton_new{
    float: right;                           /* Posicionamiento a la derecha*/
    margin-top: 0.5em;
    margin-bottom: 1em;
}
/*
    Nombre      :   foot_panel
    Descripción :   Estilo del pie del div principal.
*/
div.foot_panel{ 
    margin: 5px;
    text-align: center;                     /* Centrar horizontal al contenido*/
}