/* 
    Document   : tabla
    Created on : 2009
    Author     : Dimas Begunoff
    Modified by: Jefferson Rubio
    Reference  : http://www.farinspace.com/jquery-scrollable-table-plugin/
    Description:
        Hoja de estilo que da un aspecto elegante y ordenado a la presentación
        de los valores de cada celda dentro de una tabla. 
     
*/

.tablescroll{
    /*background-color:#fff; */
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot{ 
    border-top:2px solid #a7c5a7; 
}

.tablescroll td{ 
    padding:6px 10px; 
}

.tablescroll_wrapper{ 
    border-left:0; 
}

.tablescroll_head{ 
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #a7c5a7;
/*    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        ); */
    color:#000;
    /*text-shadow:1px 1px 1px #568F23;*/
    border-left:0; 
    border-top:0;
   /* border:1px solid #CCC;*/
   /* border-bottom:1px solid #568F23;*/
    margin-bottom:3px; 
}

.tablescroll thead td{ 
    border-right:0; 
    border-bottom:0;    
}

.tablescroll tbody td{ 
    background-color:#ededcb;
    border-top: 2px solid #f7f7e8;
    border-bottom: 2px solid #f7f7e8;
/*    border-right:0; 
    border-bottom:0; */
    text-align: center;
}

.tablescroll tbody tr.first td{ 
    border-top:0; 
}

.tablescroll_foot{ 
    font-weight:normal; 
    background-color:beige; 
    border-left:0; 
   /* border-top:1px solid #568F23;*/
    margin-top:3px; 
}

.tablescroll tfoot td{ 
    border-right:0; 
    border-bottom:0; 
}

#estilo1_celda{
    color: #9CD009;
    font-size:15px;
    text-shadow:1px 1px 1px #444;
}

#estilo2_celda{
    color: black;
    font-weight:normal;
    font-size:15px;
    text-shadow:1px 1px 1px #000;
    background-color:#DBDDC1;
}