/* 
    Document   : tabla
    Created on : 2009
    Author     : Dimas Begunoff
    Modified by: Jefferson Rubio
    Reference  : http://www.farinspace.com/jquery-scrollable-table-plugin/
    Description:
        Hoja de estilo que da un aspecto elegante y ordenado a la presentación
        de los valores de cada celda dentro de una tabla. 
     
*/

.tablescroll,
.tabla_actividad,
.tabla_literal{
    /*background-color:#fff; */
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.tablescroll td,
.tabla_actividad td,
.tabla_literal td,
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot{ 
    border-top:2px solid #a7c5a7; 
}

.tablescroll td,
.tabla_actividad td,
.tabla_literal td{ 
    padding:6px 10px; 
}

.tablescroll_wrapper{ 
    border-left:0; 
}

.tablescroll_head{ 
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #a7c5a7;
    color:#000;
    border-left:0; 
    border-top:0;
    margin-bottom:3px; 
}

.tablescroll thead td,
.tabla_actividad thead td,
.tabla_literal thead td{ 
    border-right:0; 
    border-bottom:0;    
}

.tablescroll tbody td,
.tabla_actividad tbody td,
.tabla_literal tbody td{ 
    background-color:#ededcb;
    border-top: 2px solid #f7f7e8;
    border-bottom: 2px solid #f7f7e8;
    text-align: center;
}

.tablescroll tbody tr.first td,
.tabla_actividad tbody tr.first td,
.tabla_literal tbody tr.first td{ 
    border-top:0; 
}

.tablescroll_foot{ 
    font-weight:normal; 
    background-color:beige; 
    border-left:0; 
    margin-top:3px; 
}

.tablescroll tfoot td,
.tabla_actividad tfoot td,
.tabla_literal tfoot td{ 
    border-right:0; 
    border-bottom:0; 
}

.tabla_literal{
    visibility: hidden;
}

#head_literal{
    background-color: #d7d78c;
}

#estilo1_celda{
    color: #9CD009;
    font-size:15px;
    text-shadow:1px 1px 1px #444;
}

#estilo2_celda{
    color: black;
    font-weight:normal;
    font-size:15px;
    text-shadow:1px 1px 1px #000;
    background-color:#DBDDC1;
}